   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
   main#jscompress{
    line-height: 26px;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;

}

   
   
   li>a:only-child:after {
    content: '';
}
   
  main#jscompress {
    margin: 0 auto;
    min-height: 385px;
    width: 100%;
}
   #jscompress textarea {
    width: 100%;
    display: block;
    height: 300px;
    border: 1px solid #e1e1e1;
    margin: 0 0 20px;
    padding: 10px;
overflow: auto;
    resize: vertical;
direction: ltr;
}
.use-ecmascript-next-label {
float: left;
    padding: 3px 15px 3px 0;
    color: #888;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

@media all and (max-width: 775px) {
    .description-title,
    .use-ecmascript-next-label {
        display: none
    }
}

.tab-nav li {
    padding: 3px 15px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
}
.tab-nav li.active {
    background: #e5e5e5;
}

@media all and (max-width: 525px) {
    .tab-nav li {
        width: 100%;
        font-size: 13px
    }
    .tab-nav li.active {
        border-radius: 2px 2px 2px 2px
    }
}

.tab-pane {
    min-height: 300px;
}

.error {
    color: red;
    white-space: pre;
}
.error:empty {
    display: none;
}
.buttonjsc{
    background-color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    font-weight: 400;
    color: #000000 !important;
    margin-top: 10px;
    font-family: 'droid arabic kufi',tahoma;
}
.buttonjsc:hover {
    cursor: pointer;
    background-color: #fbfbfb;
}
.buttonjsc.disabled {
    background: #f0f0f0;
    color: #aaa;
    cursor: not-allowed;
}
.buttonjsc.download {
    margin-left: 15px;
}
.hide {
    display: none;
}
.file-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    background-color: #e1e1e1;
    outline: 2px dashed #ccc;
    outline-offset: -10px;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path fill="#92b0b3" d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: center 90px;
    padding-top: 180px;
    padding-bottom: 110px;
    text-align: center;
}
.file-wrapper .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.file-wrapper .file-label {
    font-weight: 700;
    cursor: pointer;
}
.compression,
.saving {
    background: lightyellow;
    padding: 3px;
}


.file-wrapper .file-item .remove::before {
content: "\f00d";
margin-left: 4px;
    display: inline-block;
    cursor: pointer;
color: #da0303;
    font: normal normal normal 16px/1.4 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.file-wrapper .file-item .remove:hover::before {
    color:black;
}